.app {
  text-align: center;
  background: #8e24aa;
  background: linear-gradient(/*45deg,*/ #0d47a1 20%, #d8df0c 45%, #0d47a1 80%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(10, 169, 74);
}

.time {
  font-size: 3rem;
  padding: 2rem;
}

.button {
  padding: 0.6rem 1.5rem;
  margin: 0.4rem;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  border-style: groove;
}

.button:focus {
  outline-width: 0;
}

.button-primary:hover {
  background-color: #6cd426;
  border: 1px solid #dbdfec;
}

.button-primary-active {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: rgb(10, 169, 74);
}

.button-primary-inactive {
  background-color: #0f218a;
  border: 1px solid #152684;
  color: rgb(10, 169, 74);
}
